$primary-color: color("materialize-blue")
	
body
	font-family: 'Open Sans', sans-serif
	color: #666

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat
	font-size: 1.1rem

nav ul a
	font-size: 1.1rem

nav
	.brand-logo
		color: green
		margin-left: 20px
		text-transform: lowercase
		img
			position: relative
			top: 10px
			margin-right: 0px
			width: 40px
			height: 40px

	.get-started
		text-transform: none

section
	margin-top: 70px
	h1
		font-size: 25px
	h2
		font-size: 20px
	p
		margin-top: 20px !important
		margin-bottom: 20px !important
	.fas, .fab
		color: #2196F3

section .card-content
		margin-left: auto
		margin-right: auto
		text-align: center

section#posts .card-content
	width: 640px
	display: block
	text-align: left
	margin-bottom: 300px
	p
		margin-top: 30px !important
		margin-bottom: 30px !important

section#cover
	
	.cover-wrapper

		.cover-animation
			display: block
			margin-left: auto
			margin-right: auto
			width: 634px
			height: 424px

section#payoff
	margin-top: 50px
	.card-content

section#bulletpoints
	.card-content
		h2
			font-size: 22px
		font-size: 17px
		padding-top: 55px
		a
			color: #999

section#try
	.card-content
		padding-bottom: 50px
	margin-bottom: 80px

.alert-bar
	padding: 10px
	z-index: 9999
	background-color: #075b9a
	text-align: center
	.alert-bar-wrapper
		font-weight: lighter
		font-size: 18px
		color: white
