$primary-color: color("materialize-blue")
	
body
	font-family: 'Open Sans', sans-serif

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat
	font-size: 1.1rem

nav ul a
	font-size: 1.1rem

nav
	.brand-logo
		margin-left: 20px
		text-transform: lowercase

	.get-started
		text-transform: none